/* Empty. Add your own CSS if you like */
.complete{
    color: #ef473a;
    text-decoration: line-through;
}

.splash{
    background: url(../img/splash_login.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.branding h3, .branding h5{
  color: #ffffff;
}
.branding p{
    font-size: 1rem;
    color: #ffffff;
}

.body-tasks{
    background-color: #ddd;
}
.list-tasks{
    cursor: pointer;
}

.label-address{
    font-style: italic;
    color: #ddd;
}
