<ion-view view-title="Tasks Map">  
    
    <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-navigate" on-touch="vm.centerOnMe()"></button>
    </ion-nav-buttons>
    
    <ion-content scroll="false" class="has-header">                
      
        <div id="map" data-tap-disabled="true" style="width: 100%;height: 100%;"></div>        
      
    </ion-content>
    
</ion-view>