<ion-view view-title="Job on Way - Login" hide-nav-bar="true">
    <ion-content class="padding splash" >
        <img class="padding-top" style="width: 100%; height: auto; margin-top: 20px;" src="img/logo.png" height="auto" width="100%">
        <div class="padding-vertical branding">
            <h3>Wellcome to Job On Way, a best way to work on the road.</h3>
            <h5>Please insert your phone number to start</h5>
        </div>
        <form class="list list-inset ">
            <label style="" name="phone" class="item item-input">
                <!--<span class="input-label">Phone</span>-->
                <input placeholder="Insert your phone number here" type="tel" ng-model="vm.telefono">
            </label>
        </form>
        <button class="button button-balanced button-block" on-touch="vm.login()">
            Start
        </button>

        <div class="padding-vertical branding">
            <p>Note: Your phone number must be set up by your manager or boss, that is a mandatory features for login and use this app.</p>
        </div>
    </ion-content>
</ion-view>
