    <ion-modal-view>
        <!-- Modal header bar -->
        <ion-header-bar class="bar-positive">
            <h1 class="title">Enter the comments</h1>
            <button class="button button-icon ion-close" on-touch="vm.closeDialog()"></button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>
            <form ng-submit="vm.sendComment(vm.task)">                
                <div class="list list-inset">
                    <label class="item item-input">
                        <textarea placeholder="Comments" ng-model="vm.task.comentario" rows="9"></textarea>                        
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Send</button>
                </div>
            </form>
        </ion-content>
    </ion-modal-view>

