<ion-view style="" title="Tabs">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab style="" title="Tasks" icon="ion-ios-list-outline" href="#/tab/task">
            <ion-nav-view name="tab-tasks"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Map" icon="ion-map" href="#/tab/map">
            <ion-nav-view name="tab-map"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Settings" icon="ion-settings" href="#/tab/settings/notifications">
            <ion-nav-view name="tab-settings"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>