<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Task Map">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-navigate" on-touch="vm.centerOnMe()"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="has-header">                

        <div id="map" data-tap-disabled="true" style="width: 100%;height: 100%;"></div>        

    </ion-content>

</ion-view>
