<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{vm.task.nombre}}">

    <ion-content class="padding body-tasks">

        <div class="list list-inset">

            <div class="item item-text-wrap item-avatar-left" ng-class="{complete: vm.task.completed}">
                <img ng-src="{{vm.img_path + vm.task.foto}}">
                <h3 class="calm">{{vm.task.nombre}}</h3>
                <h5>{{vm.task.estado}}</h5>
                <h5>{{vm.task.fechaIngreso}} to {{vm.task.fechaFin}}</h5>
            </div>

            <div class="item item-body" ng-if="vm.task.descripcion != '' && vm.task.descripcion != null">
                <p>{{vm.task.descripcion}}</p>
            </div>

            <div class="item item-text-wrap item-icon-left" ng-if="vm.task.direccion != ''">
                <i class="icon ion-home calm"></i>
                <h2 class="label-address">Address</h2>
                <p>{{vm.task.direccion}}</p>
            </div>

            <div class="item">
                <a href="#/tab/task-map/{{vm.task.tarea_id}}" class="button button-small button-clear button-positive icon-left ion-map" ng-if="vm.task.direccion != ''">
                    Map
                </a>
                <button class="button button-small button-clear button-positive icon-left ion-chatbox" on-touch="vm.showDialog()">
                    Comments
                </button>
                <button class="button button-small button-clear button-positive icon-left ion-android-attach" on-touch="vm.downloadAtachment()" ng-if="vm.task.archivo != '' && vm.task.archivo != null">
                    Atachment
                </button>
                <button class="button button-small button-clear button-positive icon-left ion-checkmark" on-touch="vm.completed()" ng-if="!vm.task.completed">
                    Finished
                </button>
            </div>

        </div>

        <div class="list list-inset" ng-if="vm.task.comentario != null && vm.task.comentario != ''">
            <div class="item item-avatar-left item-text-wrap " ng-if="vm.task.comentario != ''">
                <img ng-src="{{vm.img_path + vm.task.foto_empleado}}">
                <p>{{vm.task.comentario}}</p>
                <!--<i class="icon ion-chatbox"></i>-->
            </div>
        </div>
    </ion-content>
</ion-view>
