<ion-view view-title="Tasks">
    <div class="bar bar-subheader bar-light item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input placeholder="Search" type="search" data-ng-model="vm.search">
        </label>
    </div>
    <ion-content class="has-subheader body-tasks" >
        <ion-refresher pulling-text="Pull to refresh"
                       refreshing-text="Loading..."
                       on-refresh="vm.doRefresh()">
        </ion-refresher>


        <div class="list list-inset list-tasks" ng-repeat="task in vm.tasks| filter:vm.search">
            <div class="item item-text-wrap item-avatar-left" ng-class="{complete: task.completed}" on-touch="vm.goDetails(task.tarea_id)">
                <img ng-src="{{vm.img_path + task.foto}}">
                <h3 class="calm">{{task.nombre}}</h3>
                <h5>{{task.estado}}</h5>
                <h5>{{task.fechaIngreso}} to {{task.fechaFin}}</h5>
            </div>
            <div class="item item-text-wrap" ng-if="task.descripcion != '' && task.descripcion != null" on-tap="vm.goDetails(task.tarea_id)">
                <p>
                    {{task.descripcion| limitTo: 100}}
                    {{task.descripcion.length > 150 ? '...' : '' }}
                </p>
            </div>
            <div class="item">
                <a href="#/tab/task-map/{{task.tarea_id}}" class="button button-small button-clear button-positive icon-left ion-map" ng-if="task.direccion != ''">
                    Map
                </a>
                <button class="button button-small button-clear button-positive icon-left ion-chatbox" on-touch="vm.showDialogComment(task)">
                    Comments
                </button>
                <button class="button button-small button-clear button-positive icon-left ion-android-attach" on-touch="vm.downloadAtachment(task)" ng-if="task.archivo != '' && task.archivo != null">
                    Atachment
                </button>
                <button class="button button-small button-clear button-positive icon-left ion-checkmark" on-touch="vm.completed(task)" ng-if="!task.completed">
                    Finished
                </button>
            </div>
        </div>

        <ion-infinite-scroll ng-if="vm.moreDataCanBeLoaded" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>

        <!--
        <ion-list>
            <ion-item ng-repeat="task in vm.tasks| filter:vm.search"
                      class="item-text-wrap"
                      href="#/tab/task/{{task.tarea_id}}"
                      ng-class="{complete: task.completed}">

                <h3>{{task.nombre}}</h3>
                <p>{{task.fechaIngreso}} to {{task.fechaFin}}</p>
                <p>
                    {{task.descripcion | limitTo: 100}}
                    {{task.descripcion.length > 150 ? '...' : '' }}
                </p>

                <ion-option-button class="button-small button-assertive" on-touch="vm.showDialog(task)">
                    Comments
                </ion-option-button>
                <ion-option-button class="button-small button-positive" ng-if="!task.completed"
                                   on-touch="vm.completed(task)">
                    Finished
                </ion-option-button>
            </ion-item>
        </ion-list>
        -->

    </ion-content>
</ion-view>
