<ion-modal-view>
    <!-- Modal header bar -->
    <ion-header-bar class="bar-positive">
        <h1 class="title">Enter your info</h1>
        <button class="button button-icon ion-close" on-touch="vm.closeDialog()"></button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <div class="list list-inset">
            <div class="item item-body">
                <img class="full-image" ng-src="{{vm.foto}}"/>                
            </div>
            <div class="item">
                <button class="button button-full button-assertive" on-touch="vm.editImage()">
                    Edit Photo
                </button>
            </div>
        </div>

        <form ng-submit="vm.sendProfile(vm.empleado)">    

            <div class="list">

                <div class="item item-divider positive-bg light">
                    My Info
                </div>

                <label class="item item-input">
                    <i class="icon ion-android-create placeholder-icon"></i>
                    <input type="text" placeholder="First Name" ng-model="vm.empleado.nombre">
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-create placeholder-icon"></i>
                    <input type="text" placeholder="Last Name" ng-model="vm.empleado.apellidos">
                </label>
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="text" placeholder="Email" ng-model="vm.empleado.email">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-telephone placeholder-icon"></i>
                    <input type="text" placeholder="Phone" ng-model="vm.empleado.telefono">
                </label>                
                <label class="item item-input">                    
                    <textarea rows="3" placeholder="Address" ng-model="vm.empleado.direccion"></textarea>
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-full button-positive">Send</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>

