<ion-view view-title="Settings Menu">

    <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="side-menu"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left" expose-aside-when="large">

            <ion-header-bar class="bar-positive">
                <div class="title">Menu</div>
            </ion-header-bar>

            <ion-content padding="false" class="side-menu-left has-header">
                <ion-list>
                    <ion-item href="#/tab/settings/notifications" menu-close="true" class="item-icon-left">
                        <i class="icon ion-android-notifications"></i>
                        Notificactions
                    </ion-item>
                    <ion-item  href="#/tab/settings/profile" menu-close="true" class="item-icon-left">
                        <i class="icon ion-android-contact"></i>                        
                        My Profile
                    </ion-item>
                    <ion-item  href="#/logout" menu-close="true" class="item-icon-left">
                        <i class="icon ion-log-out"></i> 
                        Logout
                    </ion-item>                
                </ion-list>
            </ion-content>

        </ion-side-menu>
    </ion-side-menus>

</ion-view>
