<ion-view view-title="Notifications">  

    <ion-nav-buttons side="secondary">
        <button class="button button-icon" on-touch="vm.shouldShowDelete = !vm.shouldShowDelete;">
            <i ng-if="!vm.shouldShowDelete" class="icon ion-trash-a"></i>
            <i ng-if="vm.shouldShowDelete" class="icon ion-checkmark"></i>
        </button>

    </ion-nav-buttons>
    
    <div class="bar bar-subheader bar-light item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input placeholder="Search" type="search" data-ng-model="vm.search">
        </label>
    </div>
    
    <ion-content class="has-subheader">              
        <ion-refresher pulling-text="Pull to refresh" 
                       refreshing-text="Loading..."                  
                       on-refresh="vm.doRefresh()">
        </ion-refresher>
        
        <ion-list show-delete="vm.shouldShowDelete"> 
            <ion-item ng-show="!vm.notificaciones.length">
                Notifications empty
            </ion-item> 
            <ion-item ng-show="vm.notificaciones.length" ng-repeat="item in vm.notificaciones | filter:vm.search" class="item-text-wrap item-avatar-left">               
                <img ng-src="{{item.ruta + item.foto}}">
                <h3 class="calm">{{item.titulo}}</h3>
                <h5>{{item.fecha}}</h5>
                <p>{{item.descripcion}}</p>
                <ion-delete-button class="ion-minus-circled" on-touch="vm.deleteNotification($index)"></ion-delete-button>        

            </ion-item>               
        </ion-list>
        
        <ion-infinite-scroll ng-if="vm.moreDataCanBeLoaded" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>    

    </ion-content>

</ion-view>