<ion-view view-title="My Profile">  

    <ion-nav-buttons side="secondary">
        <button class="button button-clear" on-touch="vm.showDialog();">
            Edit
        </button>
    </ion-nav-buttons>
    
    <ion-content class="padding has-header body-tasks">     
        
        <div class="list list-inset">
            <div class="item item-text-wrap item-thumbnail-left">
                <img ng-src="{{vm.foto}}">
                <h2>{{vm.empleado.nombre}}</h2>       
                <p>{{vm.empleado.apellidos}}</p>
            </div>
        </div>
       
        <div class="list list-inset">           
            
            <div class="item item-divider positive-bg light">
                My Info
            </div>
            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-email calm"></i>
                <h2 class="label-address">Email:</h2>
                <p>{{vm.empleado.email}}</p>
            </div>
            
            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-telephone calm"></i>
                <h2 class="label-address">Phone:</h2>
                <p>{{vm.empleado.telefono}}</p>
            </div>
            
            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-ios-telephone calm"></i>
                <h2 class="label-address">Mobile Phone:</h2>
                <p>{{vm.empleado.celular}}</p>
            </div>
            
            <div class="item item-text-wrap item-icon-left">
                <i class="icon ion-home calm"></i>
                <h2 class="label-address">Address:</h2>
                <p>{{vm.empleado.direccion}}</p>
            </div>
        </div>

    </ion-content>

</ion-view>